# Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data files 
data/*.csv
data/processed/*.csv

# Model files (Too large for Git)
#models/*.pkl

# Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
.DS_Store


.env